@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik {
  font-family: "Rubik", sans-serif;
}

.sora {
  font-family: "Sora", sans-serif;
}

.borderr{
  border: 1px solid red !important;
}